.select-ship-container {
    box-sizing: border-box;
    float: left;
    width: 20rem;
    height: 20rem;
    padding: 1rem;
    font-family: monospace;
    background-color: #769abe;
    .ships-container {
        margin-top: 1rem;
        color: #e1e6ea;
        .ships-counter {
            width: 10rem;
            padding: 0.2rem;
            border: 1px solid #c3c9cf;
        }
        .available-title {
            padding-bottom: 0.1rem;
        }
        .ship-type {
            padding: 0.2rem 0;
            font-size: 0.7rem;
            &:not(:last-child) {
                border-bottom: 1px solid rgba(white, 0.5);
            }
            .type {
                margin-left: 0.6rem;
            }
            .count {
                margin-right: 0.6rem;
                font-size: 0.8rem;
                font-weight: bold;
            }
            .zero {
                color: #312d2d;
            }
        }
    }
}