<div class="title marg-y-bot-small tac">Select ship</div>

<div class="clearfix ships-container">
    <div class="horizontal-ships fleft">
        <mp-ship [size]='4' [horizontal]='true'></mp-ship>
        <mp-ship [size]='3' [horizontal]='true'></mp-ship>
        <mp-ship [size]='2' [horizontal]='true'></mp-ship>
        <mp-ship [size]='1' [horizontal]='true'></mp-ship>
    </div>
    <div class="vertical-ships fleft">
        <div class="clearfix">
            <mp-ship class="fleft marg-left-small" [size]='4' [horizontal]='false'></mp-ship>
            <mp-ship class="fleft marg-left-small" [size]='3' [horizontal]='false'></mp-ship>
            <mp-ship class="fleft marg-left-small" [size]='2' [horizontal]='false'></mp-ship>
        </div>
    </div>
    <div class="ships-counter fleft">
        <div class="small-title available-title tac">AVAILABLE SHIPS</div>
        <template [ngIf]='shipQuantities'>
            <div class='ship-type' *ngFor='let type of SHIP_LABELS; let i = index'>
                <i class="type">{{type + ': '}}</i>
                <span class='fright count' [class.zero]='shipQuantities[i] === 0'>{{shipQuantities[i]}}</span>
            </div>
        </template>
    </div>
</div>