html {
    background-color: #133c51;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 50rem;
    padding: 2rem;
}

.main-title {}

.title {
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
}

// Margins:
.marg-y-bot-small {
    margin-bottom: 0.5rem;
}

.marg-y-big {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.marg-left {
    margin-left: 2rem;
}

.marg-left-small {
    margin-left: 1rem;
}

.tac {
    text-align: center;
}

.clearfix:after {
    content: " ";
    /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.pointer {
    &:hover {
        cursor: pointer;
    }
}

.btn {
    box-sizing: border-box;
    height: 2rem;
    padding: 0.5rem;
    color: aliceblue;
    background-color: darkgray;
    border: none;
    outline: none;
    &:hover {
        color: deepskyblue;
        background-color: white;
    }
}

input, select {
    box-sizing: border-box;
    width: 14rem;
    height: 2rem;
    padding: 0.5rem;
    color: darkgray;
    background-color: aliceblue;
    border: none;
    outline: none;
}

select {
    width: 20rem;
}

.fleft {
    float: left;
}

.fright {
    float: right;
}