html,
body {
    margin: 0;
    padding: 0;
}

div {
    box-sizing: border-box;
}

@for $index from 1 through 6 {
    h#{$index} {
        margin: 0;
        color: deepskyblue;
        font-family: Arial, Helvetica, sans-serif;
    }
}