.ship-container {
    position: relative;
    box-sizing: border-box;
    display: block;
    margin-bottom: 1rem;
    color: white;
    font-size: 0.5rem;
    background-color: darkblue;
    &:hover {
        .drag-spot {
            display: block;
        }
    }
    .drag-spot {
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        width: 1rem;
        height: 1rem;
        background-color: red;
    }
}