<h1 class="main-title marg-y-big tac">Battleships</h1>
<div class="container clearfix">
    <div class="create-game-container fleft">
        <input #gameNameInput type="text" placeholder="Enter game name">
        <button class="save-game btn pointer" type="button" (click)='createGame(gameNameInput.value)'>CREATE GAME</button>
    </div>
    <div class="select-game-container fleft">
        <div [hidden]='!showTheGames'>
            <select [(ngModel)]='gameName' class='selector' (ngModelChange)='joinGame($event)'>
            <option *ngFor='let game of games' [value]="game.name">{{game.name}}</option>
        </select>
        </div>
    </div>
    <mp-canvas (readyToChooseGame)='showGames($event)'></mp-canvas>
    <mp-select-ship></mp-select-ship>
</div>