.canvas-container {
    float: left;
    position: relative;
    .redeploy {
        position: absolute;
        left: 0;
        top: -2rem;
    }
    .choose-games {
        position: absolute;
        right: 0;
        top: -2rem;
    }
}