<canvas #canvasElement></canvas>

<button class='btn redeploy pointer' type="button" (click)='redeploy()'>REDEPLOY</button>
<button class='btn choose-games pointer' type="button" (click)='openGames()'>CHOOSE GAME</button>